<h2>Disciplinas</h2>
<h2>TAREFAS</h2>
<div>
  <label for="title">Disciplina</label><br />
  <input #title id="title" type="text" /><br />
  <label for="dia">Dia</label><br />
  <input #dia type="text" id="dia" /><br />
  <label for="hora">Horário</label><br />
  <input #hora type="text" id="hora" /><br />
  <button (click)="disciplina.add(title.value, dia.value, hora.value)">
    Adicionar
  </button>
</div>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Matéria</th>
      <th scope="col">Dia</th>
      <th scope="col">Horário</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let materia of disciplina.getLista(); index as i">
      <td>{{ materia.title }}</td>
      <td>{{ materia.dia }}</td>
      <td>{{ materia.hora }}</td>
      <td><button (click)="disciplina.remove(i)">X</button></td>
    </tr>
  </tbody>
</table>
